<div class="visual-search"
  data-facets="<%= @search_service.property_keys.join(',') %>"
  data-autocomplete-url="<%= autocomplete_products_path %>"
  data-search-url="<%= search_products_path %>"
></div>
